<% if track.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(track.errors.count, "error") %> prohibited this track from being saved:</h2>
		<ul>
			<% track.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<%= form_with(model: track, local: true) do |form| %>
	<table>
		<tr>
			<td>
				<label for=#name>name</label>
			</td>
			<td>
				<input name=name id=name value="<%= @track.name %>">
			</td>
		</tr>
		<tr>
			<td>
				<label for=#file>file</label>
			</td>
			<td>
				<input name=file id=file value="<%= @track.file %>">
			</td>
		</tr>
		<tr>
			<td>
				<label for=#date>date</label>
			</td>
			<td>
				<input name=date id=date value="<%= @track.date %>">
			</td>
		</tr>
		<tr>
			<td>
				<label for=#genre>genre</label>
			</td>
			<td>
				<%# this should really be a drop-down; from where? %>
				<input name=genre id=genre value="<%= @track.genre %>">
			</td>
		</tr>
	</table>
	<div class="actions">
		<%= form.submit %>
	</div>
<% end %>
