<% content_for :head do %>
    <%= stylesheet_link_tag    'music',       media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'tracks',      media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<p id="notice"><%= notice %></p>

<h1>Tracks</h1>

<ul class=tracks>
	<% @tracks.each do |track| %>
		<li class=collapsed>
			<%= link_to track.name, track %> |
			<%= link_to 'Edit', edit_track_path(track) %> |
			<%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' } %> |
			<%= link_to 'Home', artists_path %>
		</li>
	<% end %>
</ul>

<%= link_to 'New Track', new_track_path %>

