<%= form_with(url: api_v1_artist_path(@artist), local: true) do |form| %>
  <% if artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
	  <tr>
		  <td>
			  <label for=#name><%= @artist.name %></label>
		  </td>
	  <tr>
	  </tr>
		  <td>
			  <input type=text value="<%= @artist.name %>">
		  </td>
	  </tr>
  </table>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
