<% content_for :head do %>
    <%= stylesheet_link_tag    'music',       media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'artists',     media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<p id="notice"><%= notice %></p>

<h1>Artists</h1>

<ul name=artists id=/api/v1/artists>
	<% @artists.each do |artist| %>
		<li class='collapsed empty' id=/api/v1<%= artist_path(artist) %>>
			<%= link_to artist.name, albums_path(:artist_id => artist.id), :class => [:listing, :control] %>
			<%= link_to 'Edit', edit_artist_path(artist) %>
			<%= link_to 'Delete', artist_path(artist), method: :delete, data: { confirm: 'Are you sure?' } %>
			<%= link_to 'Download', artist_path(artist) + '.tar' %>
		</li>
	<% end %>
</ul>

<%= link_to 'New Album', new_artist_path %>

