<!DOCTYPE html>
<html>
  <head>
    <title>Music</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

	<script src=/js/jquery-2.2.4.min.js></script>
	<script src=/js/jquery-ui.min.js></script>
	<script src=/js/music.js></script>
	<script src=/js/search.js></script>

	<%= yield :head %>

  </head>
  <body data-search-scope=<%= yield :body %> class=theme_A>
    <div class=main>
	  <%= render 'header' %>
	  <div class=viewport>
		  <%= yield %>
	  </div>
	  <%= render 'footer' %>
    </div>
  </body>
</html>
